js/jsconfig.json
defs/
assets/images/ui/buttons/
*.afphoto
*.kra
*.kra~
*.zip
*.psd
*.aup
*.au
*.asd
assets/images/classic/walk legs.png
assets/images/classic/walk arms.png
assets/images/classic/hero arms.png
assets/images/classic/hero legs.png
